
<ion-content [fullscreen]="true">
 <div class="row align-items-center justify-content-center gx-5" style="height: 100vh;">
  <!-- SVG -->  
  <!--   Login form -->
  <div class="col-sm-12 col-md-5 p-3 shadow-lg rounded " >
    <form>
      <!-- Email input -->
      <div class="mb-4">
        <ion-label position="stacked">Correo electrónico </ion-label>
        <ion-input   [(ngModel)]="correo" [ngModelOptions]="{standalone : true}"   type="email" fill="outline"></ion-input>
      </div>
      <!-- Password input -->  
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button "   (click) =" forgotPassword()"   >Enviar  
           </button>         
      </div>

    </form>
  </div>
</div> 
</ion-content>