<ion-content>
  <app-darkmode></app-darkmode>
  <app-company-navbar></app-company-navbar>
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
        <app-company-sidebar></app-company-sidebar>
      </div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="height: 95.2vh;">
        <!-- Add employee -->
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <!--             <div class="btn-group me-2">
              <button type="button" class="btn btn-sm btn-outline-secondary" expand="block">Agregar
                empleado</button>
            </div>
            <button type="button"
              class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
              <i class="bi-calendar3"></i>
              This week
            </button> -->
          </div>
        </div>

        <h2>Crea un nuevo blog</h2>
        <!-- Card content-->
        <div>
          <h5>Inserte el contenido del card</h5>
          <form [formGroup]="blogForm">
            <div class="form-outline mb-2">
              <ion-input type="text" label="Titulo" label-placement="floating" fill="outline"
                placeholder="Inserte el titulo que se verá en el card" formControlName="title"></ion-input>
              <div *ngIf="blogForm.get('title').invalid && blogForm.get('title').touched">
                <p class="text-danger small"><small>El título es requerido</small></p>
              </div>
            </div>

            <div class="form-outline mb-2">
              <ion-input type="text" label="Descripción" label-placement="floating" formControlName="description"
                fill="outline" placeholder="Inserte la descripción que se verá en el card"></ion-input>
              <div *ngIf="blogForm.get('description').invalid && blogForm.get('description').touched">
                <p class="text-danger small"><small>La descripción es requerida</small></p>
              </div>
            </div>
          </form>
        </div>
        <!-- Blog creator-->
        <h5>Contenido del Blog</h5>
        <div>

          <div class="ql-toolbar">
            <div id="editor"></div>
          </div>
          <quill-editor id="editor2" [modules]="modules" [(ngModel)]="blogContent"></quill-editor>
          <!-- <pre>{{ blogContent }}</pre> -->
          <div [innerHTML]="sanitizeHtml(blogContent)"></div>
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="submit" [disabled]="blogForm.invalid" (click)="createBlog()">Crear
            Blog</button>
        </div>
      </main>
    </div>
  </div>

</ion-content>