<ion-content>
  <app-darkmode></app-darkmode>
  <app-company-navbar></app-company-navbar>
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
        <app-company-sidebar></app-company-sidebar>
      </div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="height: 95.2vh;">
        <!-- Add employee -->
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <button type="button" class="btn btn-sm btn-outline-secondary" expand="block"
                (click)="setOpen(true, true)">Agregar
                usuario</button>
            </div>
          </div>
        </div>

        <h2>Listado de usuarios</h2>
        <div class="table-responsive small">
          <table class="table table-sm table-hover">
            <thead>
              <tr class="table-dark">
                <th scope="col">ID</th>
                <th scope="col">Empleado</th>
                <th scope="col">Correo</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor="let user of users">
              <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nombre }}</td>
                <td>{{ user.correo }}</td>
                <td>
                  <button type="button" class="btn btn-warning btn-sm me-1" (click)="openUpdateModal(user)">
                    <i class="bi-pencil"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm">
                    <i class="bi-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>


  <!--Modal-->
  <ion-modal [isOpen]="isAddModalOpen" id="addUserModal" (ionModalDidDismiss)="onAddModalDismiss()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Nuevo usuario</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false, true)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="userForm" (ngSubmit)="addEmployee()">
          <!-- Full name -->
          <div class="form-outline mb-2">
            <ion-input type="text" label="Nombre completo" label-placement="floating" fill="outline"
              formControlName="nombre" placeholder="Ingresa tu nombre completo"></ion-input>
            <div *ngIf="userForm.get('nombre').invalid && userForm.get('nombre').touched">
              <p class="text-danger small"><small>Tu nombre completo es requerido</small></p>
            </div>
          </div>
          <!-- Email input -->
          <div class="form-outline mb-2">
            <ion-input type="email" label="Correo electronico de contacto" label-placement="floating" fill="outline"
              formControlName="correo" placeholder="Ejemplo. email@domain.com"></ion-input>
            <div *ngIf="userForm.get('correo').invalid && userForm.get('correo').touched">
              <p class="text-danger small"><small>El correo electrónico es requerido y debe ser válido</small></p>
            </div>
          </div>
          <!-- Password input -->
          <div class="form-outline mb-2">
            <ion-input type="password" label="Contraseña" label-placement="floating" fill="outline"
              formControlName="password" placeholder="Ejemplo. r5LjN8Yvg$MNtFui"></ion-input>
            <div *ngIf="userForm.get('password').invalid && userForm.get('password').touched">
              <p class="text-danger small"><small>La contraseña es requerida y debe tener al menos 8
                  caracteres</small></p>
            </div>
          </div>
          <!-- Submit button -->
          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">Registrar</button>
            <button class="btn btn-secondary btn-block" type="button"
              [routerLink]="['empleado','panel','inicio']">Regresar <i class="bi bi-arrow-return-left"></i></button>
          </div>

        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Modal de actualización de usuario -->
  <ion-modal [isOpen]="isUpdateModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Nuevo usuario</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false, true)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="userForm" (ngSubmit)="updateEmployee()">
          <!-- Full name -->
          <div class="form-outline mb-2">
            <ion-input type="text" label="Nombre completo" label-placement="floating" fill="outline"
              formControlName="nombre" placeholder="Ingresa tu nombre completo"></ion-input>
            <div *ngIf="userForm.get('nombre').invalid && userForm.get('nombre').touched">
              <p class="text-danger small"><small>Tu nombre completo es requerido</small></p>
            </div>
          </div>
          <!-- Email input -->
          <div class="form-outline mb-2">
            <ion-input type="email" label="Correo electronico de contacto" label-placement="floating" fill="outline"
              formControlName="correo" placeholder="Ejemplo. email@domain.com"></ion-input>
            <div *ngIf="userForm.get('correo').invalid && userForm.get('correo').touched">
              <p class="text-danger small"><small>El correo electrónico es requerido y debe ser válido</small></p>
            </div>
          </div>
          <!-- Password input -->
          <div class="form-outline mb-2">
            <ion-input type="password" label="Contraseña" label-placement="floating" fill="outline"
              formControlName="password" placeholder="Ejemplo. r5LjN8Yvg$MNtFui"></ion-input>
            <div *ngIf="userForm.get('password').invalid && userForm.get('password').touched">
              <p class="text-danger small"><small>La contraseña es requerida y debe tener al menos 8 caracteres</small>
              </p>
            </div>
          </div>
          <!-- Submit button -->
          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">Guardar cambios</button>
            <button class="btn btn-secondary btn-block" type="button" (click)="setOpen(false, false)">Regresar <i
                class="bi bi-arrow-return-left"></i></button>
          </div>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>


</ion-content>