<div class="row align-items-center justify-content-center gx-5" style="height: 100vh;">
  <!-- SVG -->  
  <!--   Login form -->
  <div class="col-sm-12 col-md-5 p-3 shadow-lg rounded " >
    <form>
      <!-- Email input -->
      <div class="mb-4">
        <ion-label  position="stacked">Nueva  Contraseña </ion-label>
        <ion-input    [(ngModel)]="password" [ngModelOptions]="{standalone: true}"  type="Password" fill="outline"></ion-input>
      </div>
      <!-- Password input -->  

      <div class="mb-4">
        <ion-label  position="stacked">Confrmar   Contraseña </ion-label>
        <ion-input    [(ngModel)]="confirmPassword"   [ngModelOptions]="{standalone: true}"  type="Password" fill="outline"></ion-input>
      </div>

      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button " (click)=" resetPassword() "    >Resatablecer 
           </button>         
      </div>
    </form>
  </div>
</div>